/.DS_Store

# IDE
.idea/*
.vscode/*

# Build
/dist

# Environment Configurations
.env
.env.local

# Logs
logs
*.log
.pnpm-debug.log*

# Dependencies
/node_modules

# Coverage
coverage
**/.coverage
*.lcov
.nyc_output
lib-cov
